* {
  margin: 0;
  padding: 0;
}

body {
  width: 1400px;
  margin: 0 auto;
}

header {
  position: relative;
  background-image: url("http://static.botmother.com/ct/graduate/background_image.jpg");
  background-position: 0 -43px;
  background-repeat: no-repeat;
  color: white;
}

header > * {
  position: relative;
  z-index: 10;
}

.filter {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
}

nav {
  width: 940px;
  margin: 0 auto;
  padding-top: 35px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 0;
}

.logo {
  padding-left: 7px;
  padding-bottom: 4px;
  vertical-align: bottom;
}

nav:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.menu {
  position: relative;
  display: inline-block;
  width: 485px;
  text-align: justify;
  box-sizing: border-box;
  vertical-align: top;
}

.menu:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.menu li {
  display: inline-block;
  width: auto;
  padding: 15px 0 0 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  /* font-weight: 600; */
  text-transform: uppercase;
  vertical-align: top;
}

.promo {
  width: 940px;
  margin: 180px auto 0;
  text-align: center;
}

h1 {
  padding-top: 15px;
  font-family: 'Vollkorn', serif;
  font-size: 46.5px;
  font-weight: normal;
  text-transform: capitalize;
}



.promo-subtitle {
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 74px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: white;
}

button {
  display: inline-block;
  width: 240px;
  height: 65px;
  margin: 45px auto 158px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fed136;
  border: none;
  border-radius: 5px;
  color: white;
}

.services {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 102px;
}

h2 {
  padding-top: 108px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
}

p {
  padding-top: 3px;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: #777777;
}

.services-items {
  position: relative;
  margin-top: 50px;
  text-align: justify;
  box-sizing: border-box;
}

.services-items:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.services-item {
  display: inline-block;
  width: 277px;
  text-align: center;
}

.item-logo {
  box-sizing: border-box;
  width: 73px;
  height: 73px;
  margin: 22px auto;
  border: 3px solid #fed136;
  border-radius: 50%;
  background-image: url(http://static.botmother.com/ct/graduate/css_sprites.png);
}

.services-item:nth-child(1) .item-logo {
  background-position: -4px -4px; 
}

.services-item:nth-child(2) .item-logo {
  background-position: -79px -1px; 
}

.services-item:nth-child(3) .item-logo {
  background-position: 2px -79px; 
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

.services-item p {
  padding-top: 12px;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  line-height: 1.6;
  color: #777777;
}

.portfolio {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}

.portfolio-items {
  width: 940px;
  margin: 74px auto 0;
  position: relative;
  text-align: justify;
  box-sizing: border-box;
}

.portfolio-items:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.portfolio-item {
  vertical-align: top;
  display: inline-block;
  width: 290px;
  text-align: center;
  margin-bottom: 55px;
  background-color: white;
}
.portfolio-pic {
  width: 290px;
  height: 300px;
}

.portfolio-item h3 {
  padding-top: 20px;
}

.portfolio-item p {
  padding-bottom: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}

.about {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 26px;
}

.about-items {
  width: 940px;
  margin: 74px auto 0;
  position: relative;
  text-align: justify;
  box-sizing: border-box;
  font-size: 0;
}

.about-items:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.about-item {
  vertical-align: top;
  display: inline-block;
  width: 340px;
  margin-bottom: 93px;
}

.about-item p {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  /* letter-spacing: 0.1px;
  padding-top: 13px;
  line-height: 1.7; */
  color: #777777;
  /* padding-right: 2px; */
}

.about-item h3 {
  padding-top: 7px;
  letter-spacing: -0.4px;
  padding-right: 2px;
}

.about-item .date {
  padding-top: 4px;
  padding-right: 4px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.about-item:nth-child(3n+2) {
  width: 182px;
  height: 182px;
}

.about-item:nth-child(3n+2) img {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  border: 7px solid #f7f7f7;
  box-sizing: border-box;
}

.about-item:nth-child(6n+1) p {
  letter-spacing: 0.1px;
  padding-top: 11px;
  line-height: 1.7;
  padding-right: 3px;
}

.about-item:nth-child(6n) p {
  letter-spacing: .1px;
  padding-top: 13px;
  line-height: 1.7;
  padding-left: 2px;
}


.about-item:nth-child(6n+1) {
  text-align: right;
}

.about-item:nth-child(6n) {
  text-align: left;
  margin-bottom: 0;
}

.continue {
  background-color: #fed136;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  text-align: center;
   box-sizing: border-box;
  color: white;

  text-transform: uppercase;
  padding: 40px 0;
  /* border-color: white; */
  border: 7px solid #f7f7f7;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  
}

/* .continue p {
  display: inline-block;
  width: 110px;
   position: absolute;           
   top: 50%;                      
   transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  text-transform: uppercase;
} */

.team {
  width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}


.team h2 {
  margin-top: 3px;
  letter-spacing: -2.5px;
}

.team > p {
  padding-top: 10px;
}

.team-items {
  width: 800px;
  margin: 74px auto 0;
  position: relative;
  text-align: justify;
  box-sizing: border-box;
}

.team-items:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.team-item {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: center;
}

.team-item h3 {
  font-size: 15px;
  margin-top: 19px;
}

.team-item p {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  margin-bottom: 13px;
}

.team-photo {
  display: inline-block;
  margin-top: 3px;
  background-color: black;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.social-btn {
  margin: 0 3px;
  display: inline-block;
  height: 35px;
  width: 35px;
    background-color: #f7f7f7;
  border: 3px solid black;
  border-radius: 50%;
  background-image: url(http://static.botmother.com/ct/graduate/css_sprites.png);
  
}

.twitter-btn {
  background-position: -155px -5px;
}

.facebook-btn {
  background-position: -2px -152px;
}

.pinterest-btn {
  background-position: -68px -80px;
}

.google-plus-btn {
  background-position: -153px -55px;
}

.team-about {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  display: inline-block;
  width: 630px;
  margin-top: 14px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  padding-bottom: 63px;
}

.clients {
  padding-top: 1px;
  width: 764px;
  margin: 60px auto 61px;
  position: relative;
  text-align: justify;
  box-sizing: border-box;
  font-size: 0;
}

.clients:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.clients-item {
  vertical-align: middle;
  display: inline-block;
  /* width: 25%; */
}

.contacts {
  text-align: center;
  background-color: black;
}

form {
  width: 1000px;
  margin: 0 auto;
  font-size: 0;
  padding: 10px;
}
.contacts h2 {
  color: white;
}

.message {
  display: inline-block;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.userdata {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}

.userdata input {
  width: 100%;
  margin: 10px auto;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

footer {
  background-color: #f7f7f7;
  padding: 10px;
}

address {
  display: inline-block;
  margin-right: 100px;
  vertical-align: middle;
}

.social-btns {
  display: inline-block;
    vertical-align: middle;
}

footer .social-btn {
  background-color: black;
}

.copyright {
  width: 1000px;
  margin: 0 auto;
}